<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online shop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>

</head>
<body>
    <div id="app">
        <product-list :products="products" @select-product="selectProduct"></product-list>
        <product-details v-if="selectedProduct" :product="selectedProduct" @add-to-cart="addToCart" @back-to-products="backToProducts"></product-details>
        <shopping-cart :cart="cart"></shopping-cart>

    </div>
    <script>
        const {createApp,ref}=Vue
    const app= createApp({
            setup(){
            const products=ref([
        { id:1, name:'shoes',description:'j4s'},
        { id:2, name:'shirts',description:'material'},
        { id:3, name:'trousers',description:'jeans'}
                ])
                const selectedProduct=ref(null);
                const cart=ref([]);
                const selectProduct=(product)=>{
                    selectedProduct.value=product;
                };
                const addToCart=(product)=>{
                    cart.value.push(product);
                };
                const backToProduct=()=>{
                    selectedProduct.value=null;
                };
                return{
                    products,selectedProduct,cart,selectProduct,addToCart,backToProduct
                }
          },
        
        })
        app.component('product-list',{
            props:['products'],
            template:`
            <div>
                <h1>Products</h1>
            <div v-for="product in products" :key="product.id">
                <h2>{{ product.name }}</h2>
                <p>Price: {{ product.price }}</p>
                <button @click="$emit('select-product', product)">View Details</button>
            </div>
                </div>
            `
        });
        
app.component('product-details', {
    props: ['product'],
    template: `
        <div>
            <h1>{{ product.name }}</h1>
            <p>Price: {{ product.price }}</p>
            <p>Description: {{ product.description }}</p>
            <button @click="$emit('add-to-cart', product)">Add to Cart</button>
            <button @click="$emit('back-to-products')">Back to Products</button>
        </div>
    `
});
app.component('shopping-cart', {
    props: ['cart'],
    setup(props) {
                // No need for reactive data or methods in this component
                return {};
            },
    template: `
        <div>
            <h2>Shopping Cart</h2>
            <ul>
                <li v-for="item in cart" :key="item.id">
                    {{ item.name }} - {{ item.price }}
                </li>
            </ul>
        </div>
    `
});
        app.mount('#app')
    </script>
</body>
</html>